.background-image {
    background-image: url('https://images.unsplash.com/photo-1570824104453-508955ab713e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1011&q=80');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 150vh;
}

  .overlay {
    background-color: rgba(128, 128, 128, 0.764);
	position: absolute;
	top: 150px;
    bottom: 30px;
	margin-left: 150px;
    margin-right: 150px;
	display: flex;
    justify-content: center;
    flex-direction: column;
	align-items: center;
  }

  .overlay h1 {
    color: white;
    text-align: center;
    font-size: 3em;
    margin-top: 50px;
    padding: 10px;
  }

.overlay p {
    color: white;
    text-align: center;
    padding-left: 170px;
    padding-right: 170px;
    padding-bottom: 60px;
    font-size: 21px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150%;
    background-color: white;
  }
  
  .video-wrapper {
    padding-bottom: 70px;
    padding-top: 10px;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

 }
  
  video {
    max-width: 650px;
    max-height: 100%;
  }

  h2 {
    font-size: 30px;
    text-align: center;
  }